<style>
    .table.table-sm.table-borderless {
        border: none !important;
    }
    .table.table-sm.table-borderless tr:hover {
        background-color: transparent !important;
    }
</style>

<span class="highlight-text" style="color: var(--global-title-color);font-size: 1.5rem;">Group:</span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://rituraj003.github.io">Rituraj Sharma</a> (2<sup>nd</sup> year MS student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/mikaela-cankosyan/">Mikaela Cankosyan</a> (1<sup>st</sup> year MS student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://noahpro99.github.io">Noah Provenzano</a> (1<sup>st</sup> year PhD student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://rishabbala.github.io">Rishab Balasubramanian</a> (3<sup>rd</sup> year PhD student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://katie-chen2.github.io">Weiyuan Chen</a> (2<sup>nd</sup> year PhD student, <i>on medical leave</i>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/nguyenpn1">Nguyen Nguyen</a> (Senior UG student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.ymtseng.com/">Yu-Min Tseng</a> (2<sup>nd</sup> year PhD student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://thinhphp.github.io">Thinh Pham</a> (3<sup>rd</sup> year PhD student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dovanquyet.github.io">Quyet Do</a> (3<sup>rd</sup> year PhD student)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://pjlintw.github.io">Pin-Jie Lin</a> (3<sup>rd</sup> year PhD student)</td>
      </tr>
    </table>
</div>

<span class="highlight-text" style="color: var(--global-title-color);font-size: 1.5rem;">Alumni:</span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://jaydonbingham.com/">Jaydon Bingham</a> (VT UG, Spring 2026 &rarr; Software Engineer @ Google)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/calvo-christian">Christian Calvo</a> (VT UG, Spring 2026 &rarr; MS student @ UMich)</td>
      </tr>
    </table>
</div>

<span class="highlight-text" style="color: var(--global-title-color);font-size: 1.5rem;">Others:</span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://zhentingqi.github.io">Zhenting Qi</a> (Student Researcher @ Google, Summer - Fall 2025 &rarr; PhD student @ Harvard)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://prateeky2806.github.io">Prateek Yadav</a> (Research Intern @ Google DeepMind, Summer 2024 — Spring 2025 &rarr; Research scientist @ Meta Superintelligence Labs)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://sophiahan6.github.io">Simeng Han</a> (Student Researcher @ Google DeepMind, Summer 2024 — Spring 2025 &rarr; Postdoc @ Stanford)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/salahalzubi">Salaheddin Alzubi</a> (Masters student @ UMass Amherst, Fall 2022 — Spring 2023 &rarr; Research scientist @ Sentient Labs)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dheeraj7596.github.io">Dheeraj Mekala</a> (PhD student @ UCSD, Spring — Summer 2022 &rarr; Research scientist @ Meta Superintelligence Labs)</td>
      </tr>
    </table>
</div>
