<style>
    .table.table-sm.table-borderless {
        border: none !important;
    }
    .table.table-sm.table-borderless tr:hover {
        background-color: transparent !important;
    }
</style>

<span class="highlight-text" style="color: var(--global-title-color);font-size: 1.5rem;">Group:</span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/lewis-bass-275bb8225/">Lewis Bass</a> (1<sup>st</sup> year MS student @ VT <span style="color: var(--global-highlight-color);">// latent reasoning</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://katie-chen2.github.io">Weiyuan Chen</a> (Incoming PhD student @ VT <span style="color: var(--global-highlight-color);">// advanced reasoning</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://scholar.google.com/citations?user=kX0saq8AAAAJ&hl=en">Jing Chen</a> (Incoming PhD student @ VT <span style="color: var(--global-highlight-color);">// TBD</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.ymtseng.com/">Yu-Min Tseng</a> (Incoming PhD student @ VT <span style="color: var(--global-highlight-color);">// TBD</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/noah-provenzano-90">Noah Provenzano</a> (1<sup>st</sup> year MS student @ VT <span style="color: var(--global-highlight-color);">// advanced reasoning</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/rituraj-sharma19">Rituraj Sharma</a> (Senior student & incoming MS student @ VT <span style="color: var(--global-highlight-color);">// advanced reasoning</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/nguyenpn1">Nguyen Nguyen</a> (Sophomore student @ VT <span style="color: var(--global-highlight-color);">// agentic search</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://thinhphp.github.io">Thinh Pham</a> (1<sup>st</sup> year PhD student @ VT <span style="color: var(--global-highlight-color);">// agentic search</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://rishabbala.github.io">Rishab Balasubramanian</a> (1<sup>st</sup> year PhD student @ VT <span style="color: var(--global-highlight-color);">// cross-model knowledge transfer</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dovanquyet.github.io">Quyet Do</a> (1<sup>st</sup> year PhD student @ VT <span style="color: var(--global-highlight-color);">// instruction following</span>)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://pjlintw.github.io">Pin-Jie Lin</a> (1<sup>st</sup> year PhD student @ VT <span style="color: var(--global-highlight-color);">// efficient model development</span>)</td>
      </tr>
    </table>
</div>

<span class="highlight-text" style="color: var(--global-title-color);font-size: 1.5rem;">Others:</span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://zhentingqi.github.io">Zhenting Qi</a> (Student Researcher @ Google, Summer 2025)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://prateeky2806.github.io">Prateek Yadav</a> (Research Intern @ Google DeepMind, Summer 2024 — Spring 2025)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://sophiahan6.github.io">Simeng Han</a> (Student Researcher @ Google DeepMind, Summer 2024 — Spring 2025)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://www.linkedin.com/in/salahalzubi">Salaheddin Alzubi</a> (Masters student @ UMass Amherst, Fall 2022 — Spring 2023)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dheeraj7596.github.io">Dheeraj Mekala</a> (PhD student @ UCSD, Spring — Summer 2022)</td>
      </tr>
    </table>
</div>
