<style>
    .table.table-sm.table-borderless tr:hover {
        background-color: transparent !important;
    }
</style>

<span class="highlight-text" style="color: var(--global-title-color);"><h3>Group:</h3></a></span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dovanquyet.github.io">Quyet Do</a> (incoming PhD student @ Virginia Tech)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://thinhphp.github.io">Thinh Pham</a> (incoming PhD student @ Virginia Tech)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://rishabbala.github.io">Rishab Balasubramanian</a> (incoming PhD student @ Virginia Tech)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://pjlintw.github.io">Linus Pin-Jie Lin</a> (incoming PhD student @ Virginia Tech)</td>
      </tr>
    </table>
</div>

<span class="highlight-text" style="color: var(--global-title-color);"><h3>Others</h3></a></span>
<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://prateeky2806.github.io">Prateek Yadav</a> (Research Intern @ Google Gemini, Summer 2024)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://shirleyhan6.github.io">Simeng (Shirley) Han</a> (Student Researcher @ Google DeepMind, Summer 2024)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td><a href="https://dheeraj7596.github.io">Dheeraj Mekala</a> (PhD student @ UCSD, Spring & Summer 2022)</td>
      </tr>
    </table>
</div>
