<!-- _includes/courses.html -->
<ul>
  {% for course in courses %}
  <li>
    <a href="{% if course.redirect %}{{ course.redirect }}{% else %}{{ course.url | relative_url }}{% endif %}">
      {{ course.title }}
    </a>
    <p>{{ course.description }}</p>
    {% if course.github %}
    <p>
      <a href="{{ course.github }}">GitHub Repository</a>
      {% if course.github_stars %}
      - <span>{{ course.github_stars }} stars</span>
      {% endif %}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
