<style>
    .table.table-sm.table-borderless {
        border: none !important;
    }
    .table.table-sm.table-borderless tr:hover {
        background-color: transparent !important;
    }
</style>

<div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td>Senior Area Chair for <a href="https://2027.naacl.org/">NAACL 2027</a></td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td>Area Chair for <a href="https://iclr.cc/">ICLR 2027</a>, \(ACL^*\) (ACL, EMNLP, NAACL) (2025 - present)</td>
      </tr>
      <tr>
        <th scope="row" style="width: 20%"></th>
        <td></td>
      </tr>
    </table>
</div>
